/*タイトル*/
.title {
    /*margin: 2em 0;*/ /*マージンは領域間のスペース[上下][左右]、パディングは領域内のスペース。*/
    padding: 0;
    max-width: 950px;
    margin: 0 0 0 52px;
}



/*ボックス全体*/
.accordion {
    /*margin: 2em 0;*/ /*マージンは領域間のスペース[上下][左右]、パディングは領域内のスペース。*/
    padding: 0;
    max-width: 950px;
    margin: 0 auto
}

/*labelラベル*/
.accordion label {
    display:block;
    margin: 1.0px 0;
    padding: 10px;
    color:aquamarine;
    font-weight: bold;
    background: #ff6a00;
    cursor: pointer;
    transition: all 1s;

}

/*inputラジオボタン非表示*/
.accordion input {
    display: none;
}

/*ラベルホバー時*/
.accordion label:hover {
    background: #85baef;
}


/*boxshow中身を非表示にしておく*/
.accordion .accshow{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}


/*accboxクリックでboxshow中身表示*/

.accbox:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}




img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center > label {
    text-align: center; /* これだけではダメで、  */
    display: block; /* この設定が重要        */
} 